@import "bootstrap/scss/functions.scss";
@import "bootstrap/scss/variables.scss";

$primary: #5a446a;
$secondary: #bc2c5c;

$theme-colors: map-merge($map1: $theme-colors, $map2: (
    "primary": $primary,
    "secondary": $secondary,
    ));

@import "bootstrap/scss/bootstrap.scss";